body{
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    font-weight: bold;
    font-family: "PT Sans Narrow", Arial sans;
}

h1{
    font-size:30px;
    line-height: 42px;
    color: black;
    font-weight: normal;
    font-family: PT Sans Narrow Bold, Myriad Pro;
    text-transform: uppercase;
}

h3{
    font-size:14px;
    line-height: 18px;
    color: black;
    font-weight: normal;
    font-family: PT Sans Narrow Bold, Myriad Pro;
    text-transform: uppercase;
}