body{
    font-size: 14px;
    line-height: 1.7;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    text-transform: uppercase;
}

.filter legend{
    font-size: 24px;
    line-height: 1.25;
}

.product-info h3{
    font-size: 24px;
    line-height: 1.25;
}